.games_title {
  font-size: 42px;
  line-height: 74px;
  font-weight: 700;
  margin-bottom: 1em;
}

.game_searchBtn {
  width: 100%;
  margin-bottom: 10px;
}

.search_container {
  display: flex;
}

input {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.games_filter {
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 1.5em;
}

.games_filter label {
  font-size: 16px;
}

#filter{
    padding: 8px;
}

.load_gamesBtn{
    text-align: center;
    margin-bottom: 1em;
}