.hero_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}


.hero_img img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.hero_section-sa{
    height: 70vh;
}

.hero_heading{
    width: 60%;
    color: #fff;
    margin-top: 10em;
    border: 2px solid #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.hero_heading h1{
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: .2rem;
    font-size: 50px;
    font-weight: 100;
}