:root {
  /* font family */
  --font-family: "Josefin Sans", sans-serif;
}

.hero_section-sa {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-bottom: 5em;
}

.hero_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.hero_heading h1 {
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  letter-spacing: 0.2rem;
  font-size: 50px;
  font-weight: 100;
  border: 2px solid #fff;
  color: #fff;
  font-family: var(--font-family);
}

/* Section B styles starts here */
.section-sb {
  height: 70vh;
}

.sb-container {
  position: relative;
  display: flex;
}

.sb_info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #ffffff;
  padding-left: 5em;
}

.sb_info h2 {
  width: 100%;
  font-family: var(--font-family);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding-top: 3em;
  line-height: 1.2em;
}

.sb_info p {
  width: 100%;
  padding-top: 1em;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.3em;
}

/* Section c styles start */
.sc_section {
  height: auto;
}

.sc_cont-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.sc_title h2 {
  font-family: var(--font-family);
  text-transform: uppercase;
}

.sc_button button {
  background-color: #000000;
  color: #fff;
  padding: 10px 30px;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.sc_card_display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 3em;
}

.card {
  position: relative;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  aspect-ratio: 1/1;
}

.card-content {
  opacity: 1;
  transition: 0.3s;
  z-index: 2;
}

.card:hover .card-content {
  opacity: 0;
  z-index: -1;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

.view-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .view-button {
  opacity: 1;
}

/* SD_footer styles */
.sd_footer-container {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}

.top_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
}

.top_footer {
  padding: 1em;
}

@media screen and (max-width: 980px) {
  .hero_heading {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero_heading h1 {
    width: 100%;
  }
  .section-sb {
    height: auto;
  }
  .sb-container {
    flex-direction: column;
  }
  .sb_info {
    position: inherit;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .sb-image img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .sc_cont-heading {
    flex-direction: column;
  }

  .sc_button {
    padding-top: 20px;
  }
}
