:root{
    /* font family */
    --font-family: "Josefin Sans", sans-serif;
}



.hero_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.hero_img img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.hero_section-sa {
  height: 60vh;
}

.hero_heading {
  width: 60%;
  color: #fff;
  margin-top: 10em;
  border: 2px solid #fff;
  font-family: var(--font-family);
}

.hero_heading h1 {
  text-transform: uppercase;
  padding: 1em;
  letter-spacing: 0.2rem;
  font-size: 50px;
  font-weight: 100;
}

.section-sb {
  height: 70vh;
}

.sb-container {
  position: relative;
  display: flex;
}

.sb_info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #ffffff;
  padding-left: 5em;
}


.sb_info h2{
    width: 100%;
    font-family: var(--font-family);
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: .01em;
    padding-top: 3em;
    line-height: 1.2em;
    
}

.sb_info p{
    width: 100%;
    padding-top: 1em;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.3em;
}

.sc_section {
  height: 100vh;
}
.sc_cont-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5em;
}

.sc_title h2{
    font-family: var(--font-family);
    text-transform: uppercase;
}

.sc_button button{
    background-color: #000000;
    color: #fff;
    padding: 10px 30px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.sc_card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 2fr) repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 14px;
}

.sd_footer-container {
  position: absolute;
  left: 0;
  margin-top: auto;
  width: 100%;
  height: 20vh;
  background-color: #000000;
  color: #ffffff;
}

.top_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
}
