nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
}

.logo{
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-right: 20px;
  overflow: hidden;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}
.nav_links-items {
  font-weight: bold;
}
.nav_links-items::after {
  background-color: #fff;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.nav_links-items:hover::after {
  width: 50%;
  left: 5px;
  top: 20px;
}
