* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-family: "Josefin Sans", sans-serif;
  --primary-color: #001F3F;
  --secondary-color: #0074D9;
  --accent-color: #FF851B;
  --alert-color: #FF4136;
  --background-dark: #333333;
  --background-light: #DDDDDD;
  --text-white: #FFFFFF;
  --text-light-gray: #CCCCCC;
  --text-dark-gray: #666666;
  --nav-background: #FFFFFF;
  --nav-text: #333333;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
